body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.hero {
  background: url('https://images.unsplash.com/photo-1585747860715-2ba37e788b70?w=1600&h=900&q=80&fit=crop') center/cover no-repeat;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  margin: 0.2em 0;
}

.contacts {
  margin-top: 1em;
}

.contacts a {
  color: #fff;
}
